.save-changes-btn, .cancel-profile-changes-btn {
    width: 100%;
    margin-right: 0.25em;
    margin-top: 1.2em!important;
    padding: 0.845em;
    border: none;
    border-radius: 10px;
    background-color: #ADEFD1FF;
    color: black;
    margin: auto;
}