.mint-button {
    min-width: 90%;
    cursor: pointer;
    margin-right: 0.25em;
    margin-top: 0.5em;
    border: none;
    border-radius: 10px;
    background-color: #ADEFD1FF;
    color: black;
    margin: auto;
    display: block;
    margin-bottom: 20px!important;
    padding: 10px;
    border: black 1px solid;
  }
   