button.blue-button {
    background-color: #00203FFF;
    /* margin: auto; */
    min-width: 90%;
    cursor: pointer;
    margin-right: 0.25em;
    margin-top: 0.7em;
    /* padding: 	0.938em; */
    border: none;
    border-radius: 10px;
    color: white;
    margin-bottom: 0.9em;
}