.mint-button {
    width: 90%;
    background-color: #ADEFD1FF;
    border: black 1px solid;
    /* padding: 30px; */
    border-radius: 15px;
}

.header {
    margin-bottom: 10rem;
}

.staysafe-logo {
    display: block;
    margin: auto;
}

main {
    height: 100%;
}

h1.header {
    margin-top: 1.5rem;
}
